<div class="admin-actions">
  <ul class="admin-actions-list">

    <li>
      <a class="btn btn--big" href="/admin/add-product">Add Product</a>
    </li>
    <li>
      <a class="btn btn--big" href="/admin/add-category">Category</a>
    </li>

    <li>
      <a class="btn btn--big" href="/admin/add-subcategory">SubCategory</a>
    </li>

    <li>
      <a class="btn btn--big" href="/admin/add-builder">Builder</a>
    </li>
  </ul>
  <button class="btn btn--big btn-icon-flex go-back-admin-products-btn">
    <svg  class ="svg-basic" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor"
      className="w-6 h-6">
      <path strokeLinecap="round" strokeLinejoin="round" d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3" />
    </svg>
    </i> </button>
</div>