<div class="admin-actions">
  <ul class="admin-actions-list">
    
    <li>
      <a class="btn btn--big" href="/admin/add-product">Add Product</a>
    </li>
    <li>
      <a class="btn btn--big" href="/admin/add-category">Category</a>
    </li>

    <li>
      <a class="btn btn--big" href="/admin/add-subcategory">SubCategory</a>
    </li>
    
    <li>
      <a class="btn btn--big" href="/admin/add-builder">Builder</a>
    </li>
  </ul>
  <a class="go-back-admin-products-btn btn btn--big" href="/admin/products">Go back</a>
</div>
