<nav class="navbar-header">
    <div id="navbar-main">
        <ul id="main-nav-ul">
            <li>
                <a class="btn" href="/">Home</a>
            </li>
            <% if (isLoggedIn) { %>
                <li>
                    <a class="btn" href="/admin-products">Admin products</a>
                </li>

                <li>
                    <a class="btn" href="/admin/add-product">Add product</a>
                </li>

                <% } %>
                    <li>
                        <a class="btn" href="/produts">Products</a>
                    </li>
        </ul>
        <div id="auth-buttons-div">
            <% if (isLoggedIn) { %>
                <form action="/logout" method="post">
                    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />

                    <button class="btn" type="submit">Logout</button>
                </form>

                <% } else { %>
                    <a class="btn" href="/login">Login</a>
                    <a class="btn" href="/signup">SignUp</a>
                <% } %>
        </div>
    </div>
</nav>