<nav class="navbar-header">
    <div id="navbar-main">
        <ul id="main-nav-ul">
            <% if (isLoggedIn) { %>
                <li>
                    <a class="btn btn--big" href="/">Home</a>
                </li>
                <li>
                    <a class="btn btn--big" href="/admin/products">Admin products</a>
                </li>

              

                <% } %>
                    <li>
                        <a class="btn btn--big" href="/products">Products</a>
                    </li>
        </ul>
        <div id="auth-buttons-div">
            <% if (isLoggedIn) { %>
                <form action="/logout" method="post">
                    <input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />

                    <button class="btn btn--big" type="submit">Logout</button>
                </form>

                <% } else { %>
                    <a class="btn btn--big" href="/login">Login</a>
                    <a class="btn btn--big" href="/signup">SignUp</a>
                    <% } %>
        </div>
    </div>
</nav>