<% if (isLoggedIn) { %> 
  <aside>
    <nav>
      <ul class="category-list">
        <button class="btn btn--small">
          <li>tote</li>
        </button>
        <button class="btn btn--small">
          <li>tote</li>
        </button>
        <button class="btn btn--small">
          <li>tote</li>
        </button>
      </ul>
    </nav>
  </aside>
<% } %>