* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 18px;
}

body {
	padding: 0;
	position: absolute;
	width: 100%;
  height: 100%;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 0.7rem;
}

#mainNavUl li {
	display: inline-block;
	margin-left: 0;
}

#mainNavUl {
	float: left;
}

#mainNavUl,
div {
	width: 50%;
	display: inline;
}

#mainNavUl,
li {
	float: left;
}
navbarMain {
	position: absolute;
}
#navbarMain div,
#navbarMain div button {
	float: right;
}

#authButtonsDiv button {
	margin: 0.3rem;
}

#loginDiv {
  width: 100%;
	position: absolute;
  top: 50%;
  left: 25%;
  
}

.form-group {
  display: inline-block;
}
