* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
}

#app {
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'header'
		'main'
		'footer';
}

/* main element styles */
.navbar-header {
	grid-area: header;
	border-bottom: 0.3rem solid rgba(207, 165, 48, 0.849);
	padding-bottom: 0.5rem;
	background-color: #f7eded;
}

.main {
	grid-area: main;
	align-self: center;
}

footer {
	grid-area: footer;
	justify-self: center;
}

#auth-buttons-div button {
	margin: 0.3rem;
	background-color: rgba(207, 165, 48, 0.849);
	padding: 0.5rem;
	border-radius: 10%;
}

.auth-div {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10% 10%;
	width: 100%;
}

.auth-div form {
	width: 35%;
	background: #f7eded;
	margin-top: 1rem;
}

#navbar-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7eded;
	margin-left: 30px;
}

#main-nav-ul {
	display: flex;
	justify-content: center;
}

/* main element styles */

a {
	color: rgb(36, 8, 163);
}
a:link {
	text-decoration: none;
	color: rgb(36, 8, 163);
}

a:hover {
	color: rgb(82, 4, 82);
	font-size: 1.3rem;
	/* border: 0.1rem dashed rgba(207, 165, 48, 0.849); */
}

a:active {
	color: red;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	margin: 0.7rem;
}

.form-group {
	margin: 0.2rem;
	text-align: center;
}

.form-group input {
	margin-top: 0.5rem;
	padding: 0.5rem;
	text-align: center;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	background-color: #eee;
}
.no-outline:focus {
	outline: none;
}
.form-group button {
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: rgba(207, 165, 48, 0.849);
	color: rgb(36, 8, 163);
	border-radius: 15%;
}
