<%- include('../../partials/entities-header.ejs') %> 
<div class="form-crud-container add-category-container">
  <form class="add-category-form" method="post" action="/admin/add-category">
    <div class="form-group">
        <%- include('../../partials/auth-errors.ejs')%>
        <label for="name">Name</label>
        <input type="name" class="form-control" name="name" id="name">
      </div>
     
      <button type="submit" class="btn btn--big add-category-btn">Add category</button>
      <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
    </form>
</div>