
<div class="auth-div">
  <form class="needs-validation" method="post" action="/forgot-password" novalidate>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="" required>
              <div class="invalid-feedback">
                  Please choose a email.
              </div>
          </div>
          <button type="submit" class="btn">Send mail</button>
          <input type="hidden" name="CSRFToken" value="<%= csrfToken %>">
      </form>
     
</div>
<%- contentFor('styles') %>
  <link rel="stylesheet" href="/css/authform.css">