<style scoped media="max-width: 1px">
</style>


<div class="body-container">
  <div class="info-block">
    <span>
      <h1>Welcome <%=username%>
      </h1>
    </span>
  </div>
  <img id="homePageLogo" src="/images/my_shop.jpg" width="500">
</div>


  