<style scoped media="max-width: 1px">
    h1 {
        /* color: rgb(21, 160, 160); */
        font-size: 42px;
    }

    div {
        background-color: rgb(34, 14, 207);
    }
</style>

<div class="container text-center">
    <h1 id="home">Index page</h1>
    <div>
        <span><h1>tote</h1></span>
    </div>
</div>