<style scoped media="max-width: 1px">
    h1 {
        color: aqua;
        font-size: 42px;
    }

    div {
        background-color: yellow;
    }
</style>

<div class="container text-center">
    <h1 id="home">Index page</h1>
    <div>
        <span><h1>tote</h1></span>
    </div>
</div>