<div class="body-container">
  <div class="info-block">
    <section>
        <div >
          <h1>Welcome <%=username%>
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, illo et expedita temporibus eligendi rerum ab, pariatur similique deleniti ut perferendis! Sequi distinctio rerum architecto. Quaerat vel iure perferendis unde.</p>
          <img class="homePageLogo" src="/images/my_shop.jpg" width="500">
        </div>
    </section>
  </div>
</div>


<%- contentFor('styles') %>
  <style>
    div.main {
      grid-column: 2 / -1;
    }
  </style>