

<div class="body-container">
  <div class="info-block">
    <span>
      <h1>Welcome <%=username%>
      </h1>
    </span>
  </div>
  <img id="homePageLogo" src="/images/my_shop.jpg" width="500">
</div>


<%- contentFor('styles') %>
<style>
  div.main {
    grid-column: 2 / -1;
  }
</style>
