<div class="authDiv">
	<%- include('../partials/auth-errors.ejs')%>
		<form class method="post" action="/signUp">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" name="name" id="name" placeholder="Username" />
			</div>
			<div class="form-group">
				<label for="email"></label>
				<input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
					placeholder="" />
				<small id="emailHelpId" class="form-text text-muted">Help text</small>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" name="password" id="password" placeholder="Password" />
				<button type="submit" class="btn btn-primary">Signup</button>
			</div>
			<input type="hidden" name="CSRFToken" value="<%= csrfToken %>" />
		</form>
</div>